body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    color: #01012e;
  }
  @font-face{
    font-family:"Bodoni Egypt W01 Thin";
    src:url("../Fonts/1339722/2f4b75fd-2c8a-4ed8-91fc-dffe70f9579f.woff2") format("woff2"),url("../Fonts/1339722/b50e1e75-222f-45bf-a85a-788dea663307.woff") format("woff");
}
@font-face {
  font-family: "Otto";
  src: url("../Fonts/Otto.ttf") format("ttf");
}
  /* 
  colors 
  #006600 
   #ff9999
   #9CD9C2
   */
  .sidenav, .openMenu {
    display: none;
  }
.containerForMenu {
  width: 100%;
  display: flex;
  justify-content: center;
}
  .sidenavDesctop {
    width: 100%;
    height: 110px;
    background-color: white;
    border-block-end: double #006600 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
    margin-top: 0;
    box-shadow: 0px 0px 15px -4px rgba(153,148,153,1);
  }
.sidenavDesctop a {
        padding: 20px;
        text-decoration: none;
        font-size: 2em;
        color: #818181; 
        display: block;
        transition: 0.3s;
        z-index: 20;
      }
   .sidenavDesctop a:hover{
        color: #f1f1f1;
      }
      .firstBanner{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        background-image: url(../Assets/LisaVECTOR.png);
      }
      .firstBanner h1 {
        font-size: 5em;
        color: #01012e;
        text-shadow: 4px 4px #ffff;
        text-align: center;
        font-family:"Bodoni Egypt W01 Thin";
       
      }
      .firstBanner h2 {
        font-size: 3.5em;
        font-family:"Bodoni Egypt W01 Thin";
        text-shadow: 4px 4px #ffff;
        color: #01012e;
        text-align: center;
      }
      .aboutLisa{
       width: 90%;
       box-sizing: border-box;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
      background-color: white;
      border: double 7px #006600;
      
      
      box-shadow: 0px 0px 15px -4px rgba(153,148,153,1);
      margin-bottom: 1em;
      }
      .leftSide, .rightSide {
        width: 100%;
        font-size: 2.3em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
        font-family:"Otto";
      }
      .leftSide p, .rightSide p {
        
        font-size: 1.2em;
        line-height: 1.2;
      }
      .leftSide {
        
        background-repeat: no-repeat;
      }
      .myLinks{ 
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        background-color: #FFFAF0;
        justify-content: center;
        align-items: center;
      }
      .servicesAbout{
        width: 80%;
        text-align: center;
        font-weight: 400;
        font-size: 1em;
        padding-left: 15em;
        padding-right: 15em;
        word-break: normal;
      }
      .services {
        width: 310px;
        height: 170px;
        background-color: white;
        border: double 7px #006600;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px -4px rgba(153,148,153,1);
        font-size: 1em;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        transition: transform 0.9s; 
        font-family:"Bodoni Egypt W01 Thin";
      }
      .services:hover {
        background-color: #90ee909c;
        transform: scale(1.1);
      }
.services a {
  text-decoration: none;
  color: #01012e;
}
.slideShow {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  background-image: url(../Assets/LisaVECTOR.png);
  margin-top: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0px 0px 15px -4px rgba(153,148,153,1);
}


/* slide show */

.mySlides {display: none}
.LisaDesign {vertical-align: middle;
border-radius: 15px;
box-shadow: 0px 0px 25px -4px rgba(153,148,153,1);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 16px 16px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 16px 0 0 16px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(33, 54, 63, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #87CEFA;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4682B4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.jasmine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

}

/* Footer infomration goes heere*/
.footerMain {
  width: 100%;
  
  background-color: white;
  border-block-start: 7px double #006600;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.footerMain a {
  padding: 1em;
  font-size: 22px;
  text-decoration: none;
  color: #01012e;
  transition: transform 0.9s; 
  
}
.footerMain a:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
/*to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #87cefaad;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: transform 0.9s; 
}

#myBtn:hover {
  background-color: #555;
}


/* Services page*/ 
